<div id="footer-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 menu">
				<h3>Overview</h3>
				<ul>
      				<li>
          				<a href="/features">Features</a>
        			</li>
        			<li>
        				<a href="/services">Services</a>
        			</li>
        			<li>
          				<a href="/support">Support</a>
        			</li>
        			<li>
          				<a href="http://blog.flight-friend.com">Blog</a>
        			</li>
      			</ul>
			</div>
			<div class="col-sm-3 menu">
				<h3>Menu</h3>
				<ul>
      				<li>
          				<a href="/about-us">About us</a>
        			</li>
        			<li>
        				<a href="/contact-us">Contact us</a>
        			</li>
        			<li>
          				<a href="/about-us">Jobs</a>
          				<a href="/about-us" class="hiring">
          					We're hiring!
          				</a>
        			</li>
      			</ul>
			</div>
			<div class="col-sm-2 menu">
				<h3>Social</h3>
				<ul>
      				<li><a href="/404">Youtube</a></li>
        			<li><a href="/404">Facebook</a></li>
        			<li><a href="/404">Twitter</a></li>
        			<li><a href="/404">Google Plus</a></li>
      			</ul>
			</div>
			<div class="col-sm-4 newsletter">
				<div class="signup clearfix">
					<p>
						Sign up for the newsletter and we'll inform you of updates, offers and more.
					</p>
					<form>
						<input type="text" name="email" class="form-control" placeholder="Your email address" />
						<input type="submit" value="Sign up" />
					</form>
				</div>
<!--
				<a href="/404"><img src="images/social/tw.png" alt="twitter" /></a>
				<a href="/404"><img src="images/social/fb.png" alt="facebook" /></a>
				<a href="/404"><img src="images/social/gp.png" alt="google plus" /></a>
-->
			</div>
		</div>
		<div class="row credits">
			<div class="col-md-12">
				Copyright © 2014. FlightFriend
			</div>
		</div>
	</div>
</div>