<header class="navbar navbar-inverse normal" role="banner" style="position: fixed; width:100%; top: 0px; z-index: 99999;">
	<div class="container">
		<div class="navbar-header">
	      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
				<a href="/" class="navbar-brand">FlightFriend</a>
		</div>
		
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right">
			<li>
  				<a href="/#second-option" class="scrollto">
  					Check Eligibility
  				</a>
			</li>
			<li>
  				<a href="/#process" class="scrollto">
  					How it Works
  				</a>
			</li>
			<li>
  				<a href="/#pricing" class="scrollto">
  					Pricing
  				</a>
			</li>
			</ul>
		</nav>
		
	</div>
</header>