<header class="navbar navbar-inverse normal" role="banner" style="position: fixed; width:100%; top: 0px; z-index: 99999;">
	<div class="container">
		<div class="navbar-header">
	      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
				<a href="/" class="navbar-brand">FlightFriend</a>
		</div>
		
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li>
	  				<a href="#">
	  					File a Claim
	  				</a>
				</li>
				<li>
	  				<a href="#">
	  					How it Works 
	  				</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  					My Claims
	  					<i class="fa fa-chevron-down"></i>
	  				</a>
	  				<ul class="dropdown-menu">
						<li><a href="/about-us">About us</a></li>
						<li><a href="/contact-us">Contact us</a></li>
						<li><a href="/invoice">Invoice page</a></li>
						<li><a href="/signup">Sign Up & Sign In</a></li>
			        </ul>
				</li>
				<li>
	  				<a href="/signup" class="button signup visible-md visible-lg">Sign up free</a>
				</li>
			</ul>
		</nav>
		
	</div>
</header>