<header class="navbar navbar-inverse white" role="banner" style="position: fixed; width:100%; z-index: 9999;">
	<div class="container">
	<div class="navbar-header">
      	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
      	
		<a href="/">
			<img src="images/flightfriend-logo-small.png" alt="flight friend">
		</a>
		
	</div>
	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		<ul class="nav navbar-nav navbar-right">
			<li>
  				<a href="#second-option" class="scrollto">
  					Check Eligibility
  				</a>
			</li>
			<li>
  				<a href="#process" class="scrollto">
  					How it Works
  				</a>
			</li>
			<li>
  				<a href="/faqs">
  					FAQs
  				</a>
			</li>
			<li>
  				<a href="http://blog.flight-friend.com/" target="_blank">
  					Blog
  				</a>
			</li>
<!--
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  					My Claims
  					<i class="fa fa-chevron-down"></i>
  				</a>
  				<ul class="dropdown-menu">
					<li><a href="/about-us">About us</a></li>
					<li><a href="/contact-us">Contact us</a></li>
					<li><a href="/invoice">Invoice page</a></li>
					<li><a href="/signup">Sign Up & Sign In</a></li>
		        </ul>
			</li>
-->
			<li>
  				<a href="/claim" class="signup visible-md visible-lg">File a Claim</a>
			</li>
		</ul>
	</nav>
	</div>
</header>