<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/png" href="/images/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<title>FlightFriend</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/compiled/theme.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/entypo.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/brankic.css">

	<!-- javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/vendor/jquery.flexslider.min.js"></script>
	<script src="js/theme.js"></script>

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="charts">

	<%- include partials/header-alt.html %>
	
	<div id="chart-option">
		<div class="container">
			<div class="row faq">
				<div class="col-md-12">
					<div class="row header">
						<div class="col-md-12">
							<h3>Frequently Asked Questions</h3>
						</div>
					</div>
					
					<div class="row questions">
						<div class="col-md-12">
							<div class="question">
								<strong>How do I submit a claim to Flight-Friend?</strong>
								<p>
									Submitting a claim is simple: all you need to do is to fill out our short question form in less than 5 minutes on your computer! It is helpful for you to have your original travel booking in hand. You will receive a confirmation of submission on the website, and we will send you an e-mail once your claim is in process.
								</p>
							</div>
							<div class="question">
								<strong>How much does it cost?</strong>
								<p>
									We charge a flat administrative fee of <b><i>$3</i></b> per claim which goes towards covering our claim handling expenses. We also charge a success fee of 15% of the total compensation*. However, if we are not able to get your compensation, no additional fee will not be charged. Table 1 below shows examples of how our pricing structure could work depending on whether your claim is successful or unsuccessful:
								</br></br>
								<b>Table 1</b>								
								<table style="width:100%;">
									<tr>
										<th></th>
										<th style="text-align:center;">Example 1</th> 
										<th style="text-align:center;">Example 2</th>
									</tr>
									<tr>
										<td></td>
										<td style="text-align:center;">Claim unsuccessful</td> 
										<td style="text-align:center;">Claim successful with $150 compensation</td>
									</tr>
									<tr>
										<td>Administration Fee</td>
										<td style="text-align:center;">$3</td> 
										<td style="text-align:center;">$3</td>
									</tr>
									<tr>
										<td>Success fee</td>
										<td style="text-align:center;">n/a</td> 
										<td style="text-align:center;">15% x $150 = $22.50</td>
									</tr>
									<tr>
										<td>Total Cost</td>
										<td style="text-align:center;"><b>$3</b></td>
										<td style="text-align:center;"><b>$25.50</b></td>
									</tr>
								</table>
								</br></br>
								*Airlines sometimes provide compensation in the way of airline travel vouchers or miles. In the case of miles reimbursement, we will apply the following conversion ratio (which is approximately at a 25% discount of what industry experts would calculate). <b><i>As we are a relatively new company, we have decided to waive the success fee for the first 100 customers! Submit your claim now!</i></b>
								</br></br>

								<table border="1" style="width:100%;">
									<tr>
										<th></th>
										<th style="text-align:center;">Industry Expert Conversion Benchmark Average</th> 
										<th style="text-align:center;">Our Conversion Ratio</th>
									</tr>
									<tr>
										<td style="padding-left:5px;">American AAdvantage</td>
										<td style="text-align:center;">1.8 cents/mile</td> 
										<td style="text-align:center;">1.35 cents/mile</td>
									</tr>
									<tr>
										<td style="padding-left:5px;">Delta SkyMiles</td>
										<td style="text-align:center;">1.3 cents/mile</td> 
										<td style="text-align:center;">0.98 cents/mile</td>
									</tr>
									<tr>
										<td style="padding-left:5px;">Southwest Rapid Rewards</td>
										<td style="text-align:center;">1.4 cents/point</td> 
										<td style="text-align:center;">1.05 cents/mile</td>
									</tr>
									<tr>
										<td style="padding-left:5px;">United MileagePlus</td>
										<td style="text-align:center;">1.8 cents/mile</td>
										<td style="text-align:center;">1.35 cents/mile</td>
									</tr>
									<tr>
										<td style="padding-left:5px;">US Airways Dividend Miles</td>
										<td style="text-align:center;">1.6 cents/mile</td> 
										<td style="text-align:center;">1.20 cents/mile</td>
									</tr>
									<tr>
										<td style="padding-left:5px;">Virgin America Elevate</td>
										<td style="text-align:center;">2.0 cents/point</td>
										<td style="text-align:center;">1.50 cents/mile</td>
									</tr>
								</table>
								</br></br>
								Table 2 provides sample calculations of the mile-to-dollar conversion calculation we will do as well as the corresponding success fee. As a benchmark, airlines may about10,000 ]miles in compensation for an overbooked flight.
								</br></br>
								<b>Table 2</b>
								<table style="width:100%;">
									<tr>
										<th></th>
										<th style="text-align:center;">Example 1</th> 
										<th style="text-align:center;">Example 2</th>
									</tr>
									<tr>
										<td></td>
										<td style="text-align:center; padding:0px 10px;">5,000 mile reimbursement on United MileagePlus</td> 
										<td style="text-align:center; padding:0px 10px;">8,000 mile reimbursement on Delta SkyMiles</td>
									</tr>
									<tr>
										<td>Reimbursement dollar-value equivalent</td>
										<td style="text-align:center;">5,000 x  1.35cents/mile = $67.50</td> 
										<td style="text-align:center;">8,000 x $78.40</td>
									</tr>
									<tr>
										<td>Success Fee</td>
										<td style="text-align:center;"><b>15% x $67.50 = $10.13</b></td>
										<td style="text-align:center;"><b>15% x $78.40 = $11.76</b></td>
									</tr>
								</table>
																	
								</p>
							</div>
							<div class="question">
								<strong>How long does it take?</strong>
								<p>
									The duration of a claim for compensation from the airline varies by claim. Some airlines answer within 2 weeks, others answer within 4-6 weeks and some never answer. We consistently follow up on all claims to get an answer from the airline. To hasten the speed of reply and to increase your chance of compensation, we may also contact the local aviation authorities to lodge a complaint on your behalf.
								</p>
							</div>
							
							<div class="question">
								<strong>How can I track my claim status?</strong>
								<p>
									After submitting the claim to us you will receive an email update once we have started working on your claim. We will keep you updated if there is a major new development on your claim or if we required additional information. Bear in mind that it could take the airline up to six weeks to answer a claim for compensation. You can also email us at <a href="mailto:yourflightfriend@gmail.com">yourflightfriend@gmail.com</a> should you have any questions at any point in time.
								</p>
							</div>
							<div class="question">
								<strong>Can I do the claim myself?</strong>
								<p>
									Yes, everyone can deal directly with their airline to claim compensation for delays. 
Our Flight-Friend experts, however, have developed expertise in assessing the category which your claim falls into, what you are likely to get compensated and the data required to submit your claim. Our high volume of claims ensures an effective and inexpensive claim handling process enabling us to maximise your chances of compensation. We also dedicate resources to responding to airlines in a timely manner hence expediting the compensation process with airlines.
								</p>
							</div>
							
							<div class="question">
								<strong>How far back can I get compensation?</strong>
								<p>
Airlines typically require claims to be submitted no later than 21 days after the incident. We suggest that you submit your claim to us as soon as possible to ensure that you meet the deadlines on the part of the airlines.</br></br>For lost luggage claims, please make sure you notify the airline of the claim and obtain a baggage report number no later than 4 hours after arrival of flight or receipt of baggage.
								</p>
							</div>

							<div class="question">
								<strong>Is your question not listed?</br>Please contact us and we will get back to you as soon as possible.</strong>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	
	<%- include partials/footer-alt.html %>
	<%- include partials/zendesk.js %>
	
	<script type="text/javascript">
	  	$(function() {
			$('.flexslider').flexslider({
				directionNav: false,
				slideshowSpeed: 4000
			});
			$('[data-toggle="tooltip"]').tooltip();
	  	});
	</script>
</body>
</html>