<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
	<title>FlightFriend - Terms</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/compiled/theme.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/entypo.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/brankic.css">

	<!-- javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/vendor/jquery.flexslider.min.js"></script>
	<script src="js/theme.js"></script>

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="charts">

	<%- include partials/header-alt.html %>
	
	<div id="chart-option">
		<div class="container">
			<div class="row faq">
				<div class="col-md-12">
					<div class="row header">
						<div class="col-md-12">
							<h3>Terms & Conditions</h3>
						</div>
					</div>
					<div class="row questions">
						<div class="col-md-12">
							<div class="question">
								<strong>Our Legalese</strong>
								<p>
									I authorize "2014 SERIES 115 OF FIELD COURSE LLC", also known as "Flight-Friend", to release my flight details, airline registration information, and my personal contact information to airline companies, government agencies such as the Federal Aviation Administration (FAA) and the Department of Transportation (DOT), and related third parties, for the purposes of filing complaints and negotiating compensation on my behalf.</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="question">
								<strong>Department of Transportation Legalese</strong>
								<p>
									All filings go through the Department of Transportation. <a href="http://www.dot.gov/airconsumer" target="_blank">http://www.dot.gov/airconsumer</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<%- include partials/footer-alt.html %>

	<script type="text/javascript">
	  	$(function() {
			$('.flexslider').flexslider({
				directionNav: false,
				slideshowSpeed: 4000
			});
			$('[data-toggle="tooltip"]').tooltip();
	  	});
	</script>
</body>
</html>